@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
		
		*{
			padding: 0;
			margin: 0;
			color: #757575;
			font-family: 'Roboto', sans-serif;
		}
		section{
			width: 96%;
			height: 100%;
			margin: 0px auto;
			position: relative;
		}
		.video{
			position: absolute;
		    top: 0;
		    left: 0;
		    width: 100%;
		    z-index: -1;
		}
		nav{
			width: 96%;
			height: 70px;
			font-family:sans-serif;
			margin: 20px auto;
			display: flex;
			justify-content: space-around;
		}
		nav h1{
			color: white;
			font-size: 50px;
			width: 40%;
			font-weight: bold;
		}
		nav ul{
			width: 60%;
			list-style: none;
		}
		nav ul li{
			list-style: none;
			float: left;
			margin: 10px 20px;
			padding: 10px;
			font-size: 20px;
			font-weight: bold;
		}
		nav ul li a, nav ul li a .fa{
			text-decoration: none;
			color: white;
		}
		.plan{
			width: 80%;
			height: 250px;
			padding: 50px;
			/*position: relative;
			top: 300px;*/
			background: #ffffff40;
			text-align: center;
			margin: 10px auto;
			margin-top: 300px;
		}
		.plan .plann{
			width: 90%;
			padding: 50px 20px;
			background: white;
			text-align: left;
			border-radius: 10px;
		}
		.plan h2{
		    background: white;
		    width: 200px;
		    margin-left: 40%;
		    padding: 20px;
		    border-radius: 10px 10px 0px 0px;
		}
		.plan .plann input{
			font-size: 15px;
			width: 186px;
		    font-weight: bold;
		    font-family: cursive;
		    padding: 20px 10px;
		    background: #f1f1f1;
		    border: none;
		    outline: none;
		}
		.top-destination{
			width: 90%;
			height: 150px;
			font-size: 20px;
			background: #fafafa;
			margin: auto;
			display: flex;
			margin-top: 150px;
			justify-content: space-around;
			padding: 20px;
		}
		.top-destination .top3{
			width: 30%;
			display: flex;
			justify-content: space-around;
		}
		.top-destination .top3 img{
			width: 30%;
			margin: 50px;
			align-self: center;
			height: 100px;
		}
		.top-destination .top3 div{
			align-self: center;
		}
		.content{
			width: 96%;
			height: 600px;
			/*background: red;*/
			margin: 100px auto;
			font-size: 24px;
		}
		.content .upper{
			width: 100%;
			height: 50%;
			justify-content: space-around;
			display: flex;
			font-size: 18px;
		}

		.content .heading {
			width: 100%;
			height: 10%;
			color: #333333;
			justify-content: space-around;
			display: flex;
		}

		.attention {
			color: #fafafa;
			font-size: large;
			font-family:sans-serif;
		}

		.content .upper div{
			width: 25%;
			
		}
		.content .upper div img{
			width: 100%;
			height: 200px;
		}
		.bann{
			width: 90%;
			height: 520px;
			background: #fafafa;
			margin: 50px auto;
			display: flex;
			justify-content: left;
		}
		.bann video{
			width: 70%;
		}
		.bann div{
			width: 30%;
		    height: 50%;
		    letter-spacing: 5px;
		    text-align: justify;
		    padding: 2%;
		    align-self: center;
			font-size: 20px;
		}
		.last{
			width: 90%;
			height: 900px;
			margin: 50px auto;
			display: flex;
			justify-content: space-around;
		}
		.last .left{
			width: 60%;
			height: 100%;
			height: auto;
			height: 100%;
			font-size: 20px;
		}
		.last img{
			width: 40%;
			height: 100%;
		}
		.last .left .last3{
			display: flex;
			justify-content: space-around;
			margin: 10px auto;
		}
		.last .left .last3 img{
			width: 40%;
			margin: 5%;
			height: 200px;
		}
		.last .left .last3 div{
			width: 40%;
			margin: 5%;
		}
		footer{
			width: 90%;
			height: 500px;
			margin: 20px auto;
			margin-top: 100px;
			background: #fafafa;
			display: flex;
			justify-content: space-around;
			position: relative;
		}
		footer h1{
			width: 25%;
			align-self: center;
			letter-spacing: 10px;
			margin-left: 7%;
			font-size: 50px;
			font-weight: bold;
		}
		footer .copyright{
			width: 27%;
			height: 100%;
			align-self: center;
			font-size: 12px;
			display: flex;
			align-items: flex-end;
			justify-content: flex-end;
		}
		footer .div{
			width: 70%;
			height: 50%;
			align-self: center;
			border-left: 2px solid #e5e5e5;
			padding: 20px;
			display: flex;
			justify-content: space-around;
			font-size: 20px;
		}		
		footer .div ul li{
			list-style: none;
			margin: 20px auto;
		}
		footer .div ul li a{
			text-decoration: none;
			
		}
		footer .div div input{
			padding: 7px;
			width: 200px;
			margin: 20px 0px;
			border: none;
			outline: none;
			background: #f1f1f1;
		}

		.buttons {
			padding: 7px;
			color: white;
			border: none;
			outline: none;
			background: #00b5be;
			font-size: 16px;
		}

		.content .tour {
			position: relative;
			height: auto;
			clear: both;
		}
		.content .upper {
			position: relative;
			height: 60%;
			clear: both;
		}
